.faq {
    padding: 5.6vw;

    h2 {
        text-align: center;
        margin-bottom: 24px;
    }

    &__questions {
        list-style: none;
        &__item {
            background-color: #13151d;

            &__question {
                color: #fff;
                font-size: 24px;
                padding: 24px;
                margin-top: 16px;
                display: block;
                cursor: pointer;
                position: relative;

                @media (max-width: 768px) {
                    font-size: 15px;
                }

                &::after {
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                }
            }

            &__answer {
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: height, .5s ease;

                
                ul {
                    padding-left: 40px;
                    list-style-type: disc;


                    p {
                        margin-top: 24px;
                    }

                }

                .last-text {
                    margin-top: 16px;
                }
            }

            &--is-open {
                .faq__questions__item__question::after {
                    content: '-';
                }
                .faq__questions__item__answer {
                    height: auto;
                    padding-bottom: 24px;
                    transition: height, .5s ease;
                }
            }
        }
    }
}